BINANCE_API_KEY=
BINANCE_SECRET=
BYBIT_API_KEY=
BYBIT_SECRET=
IQ_OPTION_EMAIL=
IQ_OPTION_PASSWORD=
PORT=3000
FCM_SERVER_KEY=
JWT_SECRET=
JWT_REFRESH_SECRET=
WHATSAPP_ENABLED=false
WHATSAPP_SESSION=trading-main
NODE_ENV=development
